body {
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
}

/*********************************************  headers  *******************************************/

h1 {
    margin-top: (50px auto 0px auto);
    font-family: 'Sacramento', cursive;
    font-size: 100px;
    line-height: 2;
    color: #66BFBF;
}

h2 {
font-family: 'Montserrat', sans-serif;
font-size: 2.5rem;
color: #66BFBF;
position: relative;

}

h3 {
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
}

/*********************************************  headers *******************************************/


/*********************************************  divs  *******************************************/

.top-container {

background-color: #EAF6F6;
/*   260   */
}

.skill-row {
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
    display: inline-block;
}


.bottom-container {
    background-color: #EAF6F6;
}

.top-container {
    background-color:#EAF6F6;
    margin: 0;
}
/*********************************************  divs  *******************************************/

/*********************************************  clouds  *******************************************/

.top-cloud {
    position: relative;
    top: 50px;
    left: 250px;
}


.bottom-cloud {
    position: absolute;
}



/*********************************************  clouds  *******************************************/

/*********************************************  paragraphs  *******************************************/

.introduction_paragraph {
    font-family: 'Sacramento', sans-serif;
    font-weight: normal;
    color: #66bfbf;
    font-size: 50px;
    text-decoration-style: solid;
}


/*********************************************  paragraphs  *******************************************/



.my_profile_picture {
    margin: 60px auto 30px auto;
    width: 15%;
    height: 15%;
}

.binar-img {
    width: 25%;
    float: left;
    margin-right: 30px;
}

.code-img {
    width: 25%;
    float: right;
    margin-left: 30px;
}

hr {
    width: 100px;
    border-top: 10px dotted #EAF6F6;
    border-left: none;
    border-right: none;
    border-bottom: none;
}

.education-img {
    position: static;
    width: 15%;
    top: 50px;
}

p {
    line-height: 2;
}

    .linkedin-icon {
        width: 50px;
        height: 50px;
        float: center;
    }

    .facebook-icon {
        width: 50px;
        height: 50px;
        float: center;
        position: static;
    }

    .gmail-icon {
        position: static;
        width: 50px;
        height: 50px;
    }

    .contact-me {
        margin: 100px auto 100px auto;
    }


    .btn {
        background: #11cdd4;
        background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
        background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
        background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
        background-image: -o-linear-gradient(top, #11cdd4, #11999e);
        background-image: linear-gradient(to bottom, #11cdd4, #11999e);
        -webkit-border-radius: 10;
        -moz-border-radius: 10;
        border-radius: 10px;
        font-family: Arial;
        color: #ffffff;
        font-size: 20px;
        padding: 10px 20px 10px 20px;
        text-decoration: none;
      }
      
      .btn:hover {
        background: #30e3cb;
        background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
        background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
        background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
        background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
        background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
        text-decoration: none;
      }



.git-img {
   width: 25%;
   height: 25%;
   float: left;
}

.github-profile {
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
    display: inline-block;
}


.test-text {
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
    display: inline-block;
}


.about-me {
    width: 50%;
    text-align: left;
    line-height: 2;
    display: inline-block;
    margin: auto  auto auto auto;
}
